@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  border: 0px solid red;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #E2DADB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
  z-index: 1;
  position: sticky;
  top: 0 !important;
}

h1 {
  color: #2D93AD;
  font-size: 45pt;
  font-weight: 475;
  margin-left: 0%;
  margin-right: 10%;
  margin-bottom: 8px;
}

h2 {
  color: #4B5C6B;
  font-size: 32pt;
  font-weight: 475;
  margin-left: 0%;
  margin-right: 0%;
}

h3 {
  font-size: 22pt;
  font-weight: 475;
  color: #303941;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

h4 {
  font-size: 14pt;
  font-weight: 400;
}

h5 {
  font-size: 18pt;
  font-weight: 475;
}

h6 {
  font-size: 13pt;
  font-weight: 400;
}

/* Estilo para encabezados (headings) */
h2,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  color: #303941;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

a:active {
  border: 0px solid black !important;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.45fr 80px 848px 80px auto 80px 778px 320px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "section-1 section-1 section-1 section-1"
    "section-2-header section-2-header section-2-header section-2-header"
    "section-2 section-2 section-2 section-2"
    "section-3-header section-3-header section-3-header section-3-header"
    "section-3 section-3 section-3 section-3"
    "section-4-header section-4-header section-4-header section-4-header"
    "section-4 section-4 section-4 section-4"
    "footer footer footer footer";
  width: 100%;
}

.container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px 720px 320px;
  gap: 86px;
  grid-auto-flow: row;
  grid-template-areas:
    "section-2-header section-2-header section-2-header section-2-header"
    "section-form section-form section-form section-form"
    "footer footer footer footer";
  width: 80%;
}

#especial {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px 1fr 320px;
}

.login-form {
  grid-area: section-form;
  width: 100%;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form span {
  text-align: left;
  line-height: 1.5;
  margin-top: 0px;
  padding-left: 8px;
  padding-right: 8px;
}

.input-form {
  width: 360px;
}

.input-form div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkbox-flexito {
  display: flex;
  justify-content: center;
  flex-direction: row !important;
  align-items: center;
}

.checkbox-flexito h6 {
  margin-top: 8px;
}

.input-form div center {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo nav-list nav-list login login"
    "logo nav-list nav-list login login"
    "logo nav-list nav-list login login";
  grid-area: NavBar;
  align-items: center;
  text-align: right;
  z-index: 2;
  position: sticky !important;
  /* Set the navbar to fixed position */
  top: 0 !important;
  /* Position the navbar at the top of the page */
  border-bottom: 2px solid #C4C7C5;
  width: 100%;
  height: 80px;
  background-color: hsla(0, 100%, 100%, 0.75);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

header {
  transition: transform 0.4s;
}

header.hide {
  transform: translateY(-100%);
  transition: transform 1s;
}

.logo {
  grid-area: logo;
  display: flex;
  align-items: self-start;
  padding-left: 56px;
}

.logo img {
  width: auto;
  height: 36px;
  align-items: center;
  text-align: center;
  margin-left: 0;
}

.login {
  grid-area: login;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
  padding-right: 54px;
}

.login .btn button::before {
  content: "Crear horarios ";
}

.login-responsive-2 {
  display: none;
}

.nav-list {
  grid-area: nav-list;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 8px;
}

.section-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "section-1-copy-1 section-1-copy-1 section-1-img-1"
    "section-1-copy-1 section-1-copy-1 section-1-img-1"
    "section-1-copy-1 section-1-copy-1 section-1-img-1";
  grid-area: section-1;
  border-radius: 24px;
  border-radius: 24px;
  margin: 8px 8px 0px 8px;
  border: 1px #C4C7C5 solid;
}

.section-1-img-1 {
  grid-area: section-1-img-1;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  pointer-events: none;
}

.section-1-img-1 img {
  grid-area: section-1-img-1;
  width: 100%;
}

.ocultarmail {
  display: none;
}

.ocultar2 {
  display: none;
}

.section-1-copy-1 {
  grid-area: section-1-copy-1;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  padding: 56px;
  background-color: #f2f3f4;

}

.section-2-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-area: section-2-header;
  margin: 8px 8px 0px 8px;
  border-radius: 24px;
  padding: 56px;
}

#Ventajas {
  scroll-margin-top: 40px;
}

.section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
  grid-template-areas:
    "section-2-perk-1 section-2-perk-2"
    "section-2-perk-3 section-2-perk-4";
  grid-area: section-2;
  margin: 50px 8px 0px 8px;
  border-radius: 24px;
  padding: 0px;
  height: 100%;
}

.section-2-perk-1 {
  width: 100%;
  height: 420px;
  background-color: #f2f3f4;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  border: 1px #C4C7C5 solid;
}

.section-2-perk-2 {
  width: 100%;
  height: 420px;
  background-color: #f2f3f4;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  border: 1px #C4C7C5 solid;
}

.section-2-perk-3 {
  width: 100%;
  height: 420px;
  background-color: #f2f3f4;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  border: 1px #C4C7C5 solid;
}

.section-2-perk-4 {
  width: 100%;
  height: 420px;
  background-color: #f2f3f4;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  border: 1px #C4C7C5 solid;
}

.imagen-thumbnail {
  width: 100%;
  height: 45%;
  border-radius: inherit;
  object-fit: cover;
}

.section-2-perk-1 .imagen-thumbnail {
  pointer-events: none;
}

.section-2-perk-2 .imagen-thumbnail {
  pointer-events: none;
}

.section-2-perk-3 .imagen-thumbnail {
  pointer-events: none;
}

.section-2-perk-4 .imagen-thumbnail {
  object-position: bottom;
  pointer-events: none;
}

.section-2-spansitos {
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 8px;
  padding: 24px;
}

#FAQ {
  scroll-margin-top: 40px;
}

.section-3-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-area: section-3-header;
  margin: 60px 8px 0px 8px;
  border-radius: 24px;
  padding: 56px;
}

.section-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ".";
  grid-area: section-3;
  margin: 104px 8px 0px 8px;
  border-radius: 24px;
}

.faq-list {
  text-decoration: none;
}

.faq-list ul li {
  margin: 80px;
}

#Planes {
  scroll-margin-top: 40px;
}

.section-4-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-area: section-4-header;
  margin: 8px 8px 0px 8px;
  border-radius: 24px;
  padding: 56px;
}

.section-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 564px;
  gap: 0px 8px;
  grid-auto-flow: row;
  grid-template-areas:
    "section-4-row-1 section-4-row-2 section-4-row-3"
    "section-4-content-1 section-4-content-2 section-4-content-3";
  grid-area: section-4;
  margin: 50px 8px 0px 8px;
  border-radius: 24px;
  padding: 0 56px;
  text-align: center;
}

.icon-check {

  font-size: 20px;
  content: 'asd fyfyt';
  color: greenyellow;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1;
  background-color: #2D93AD;
  text-align: center;
}

.icon-check span {
  display: flex;
}

.icon-section-4 {
  width: 124px;
  margin-top: 8px;
  pointer-events: none;
}

.section-4-row-1 {
  grid-area: section-4-row-1;
  border-radius: 24px 24px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #58C2B9;
  border: 1px #C4C7C5 solid;
}

.section-4-row-2 {
  grid-area: section-4-row-2;
  border-radius: 24px 24px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2D93AD;
  border: 1px #C4C7C5 solid;
}

.section-4-row-3 {
  grid-area: section-4-row-3;
  border-radius: 24px 24px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  border: 1px #C4C7C5 solid;
}

.section-4-row-1 h5 {
  color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-4-row-2 h5 {
  color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-4-row-3 h5 {
  color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-4-content-1 {
  grid-area: section-4-content-1;
  border-radius: 0 0 24px 24px;
  background-color: #f2f3f4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px #C4C7C5 solid;
  padding: 56px 0 56px 0;
}

.section-4-content-2 {
  grid-area: section-4-content-2;
  border-radius: 0 0 24px 24px;
  background-color: #f2f3f4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px #C4C7C5 solid;
  padding: 56px 0 56px 0;
}

.section-4-content-3 {
  grid-area: section-4-content-3;
  border-radius: 0 0 24px 24px;
  background-color: #f2f3f4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px #C4C7C5 solid;
  padding: 56px 0 56px 0;
}

.section-4 ul {
  padding: 0 24px 0 24px;
  margin-block-end: 0;
}

.section-4 img {
  margin-bottom: 0px;
}

.section-4 h4 {
  display: flexbox;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 0 24px 0 24px;
}

.section-4 h5 {
  margin: 0;
}

.section-4 h6 {
  text-align: left;
}

.section-4 button {
  width: 240px;
  height: 50px;
  background-color: #2B4570;
  border-radius: 32px;
  font-size: 18px;
}

.section-4-content-1 button {
  background-color: #58C2B9;
}

.section-4-content-2 button {
  background-color: #2D93AD;
}

.section-4-content-3 button {
  background-color: #111;
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ".";
  grid-area: footer;
  background-color: #2B4570;
  margin: 8px 8px 8px 8px;
  border-radius: 24px;
  padding: 56px;
  border: 1px #C4C7C5 solid;
}

footer h2,
footer h6 {
  color: #fcfcfc;
}

.iniciosesion {
  align-items: center;
  padding: 25px;
  width: 500px;
}

input[type=text],
input[type=password] {
  width: 100%;
  margin: 8px 0;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #2D93AD;
  border-radius: 50px;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

button {
  font-family: 'Roboto', sans-serif;
  padding: 10px 20px;
  background-color: #2D93AD;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;

  margin-left: 0px;
  font-weight: 700;

  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #1bae9fb6;
}

a {
  color: #2D93AD;
}

/* Estilo para enlaces visitados */
a:visited {
  color: #2D93AD;
  /* color: #F25757; */
}

/* Estilo para enlaces al pasar el mouse */
a:hover {
  color: #1bae9fb6;
  /* Cambia el color a azul (#0000FF) cuando el mouse pasa por encima */
}

.nav-links {
  list-style: none;
  padding-inline-start: 0 !important;
  margin-bottom: 0 !important;
}

.nav-links li {
  margin-right: 24px;
  display: inline-block;
}

.nav-links a {
  color: #2B4570 !important;
  text-decoration: none;
}

.nav-links a:visited {
  color: #2B4570 !important;
}

.nav-links a:hover {
  color: #58C2B9 !important;
}

.nav-links li:hover {
  transform: scale(1.01);
}

.divs-centrados {
  text-align: center;
}

h5 input {
  border-radius: 50px;
  padding: 10px 20px;
}

.signup-box {
  font-size: xx-small;
  font-weight: 200;
  display: flex;
  /**grid-area: signup-box;**/
  margin-top: 25px;
  padding: 0 0 24px 0;
  flex-direction: column-reverse;
  width: 37.5em;
}

#Titulo {
  background-size: cover;
  background-image:
    linear-gradient(rgba(91, 197, 187, 0),
      rgba(7, 79, 87, 0)),
    url("../img/back11.jpeg");
  background-position: bottom;
}

.c-checkbox {
  display: none;

  &:checked+.c-formContainer {
    .c-form {
      width: 37.5em;
      /*acomodar hacia la derecha*/
      margin-left: 50px;
    }

    .c-form__toggle {
      visibility: hidden;
      opacity: 0;
      transform: scale(0.7);

    }

    .c-form__input,
    .c-form__buttonLabel {
      transition: 0.2s 0.1s;
      visibility: visible;
      opacity: 1;
      transform: scale(1);

    }
  }

  &:not(:checked),
  &:checked {
    +.c-formContainer .c-form__input:required:valid~.c-form__toggle::before {
      content: '¡Gracias! Revisa tu email \1F4E5';
      color: white;
      font-weight: 500;
    }
  }

  &:not(:checked)+.c-formContainer {
    .c-form__input:required:valid~.c-form__toggle {
      pointer-events: none;
      cursor: default;
    }
  }
}

.c-formContainer,
.c-form,
.c-form__toggle {
  width: 240px;
  height: 50px;
  border-color: #2B4570;
  border-radius: 5px;
}

.c-formContainer {
  position: relative;
  font-weight: 700;
}

.c-form,
.c-form__toggle {
  position: absolute;
  border-radius: 6.25em;
  /*color de botón principal*/
  background-color: #2B4570;
  transition: 0.2s;
}

.c-form__toggle:hover {
  background-color: #58C2B9;
}

.c-form {
  left: 50%;
  transform: translateX(-50%);
  padding: 0.625em;
  box-sizing: border-box;
  box-shadow: 0 0.125em 0.3125em rgba(black, 0.3);
  display: flex;
  justify-content: center;
}

.c-form__toggle {
  color: white;
  top: 0;
  cursor: pointer;
  z-index: 1;


  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    font-size: 1.75em;
    content: attr(data-title);
  }
}

.c-form__input,
.c-form__button {
  font: inherit;
  border: 0;
  outline: 0;
  border-radius: 5em;
  box-sizing: border-box;
}

.c-form__input,
.c-form__buttonLabel {
  font-size: 1.75em;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.7);
  transition: 0s;
}

.c-form__input {
  color: #b0b0b0;
  font-weight: 400;
  height: 100%;
  width: 100%;
  padding: 0 0.714em;

  &::placeholder {
    color: currentColor;
  }

  &:required:valid {
    /*correo confirmado*/
    color: #303941;
    font-weight: 400;

    +.c-form__buttonLabel {
      color: white;

      &::before {
        pointer-events: initial;
      }
    }
  }
}

.c-form__buttonLabel {
  color: white;
  height: 100%;
  width: auto;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    cursor: pointer;
  }
}

.c-form__button {
  /*Enviar*/
  color: inherit;
  padding: 0;
  height: 100%;
  width: 5em;
  background-color: #2B4570;
  font-weight: 500;
}

.accordion {
  width: 100%;
  height: 100%;
}

.box {
  background: #fcfcfc;
  color: #111;
  border: 1px #C4C7C5 solid;
  border-radius: 48px;
  margin-bottom: 8px
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);*/
}

.question {
  padding: 2rem 4rem 2rem 2rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.question h5 {
  font-size: 1.8rem;
  font-weight: 500;
}

.icon {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #2D93AD;
  right: 1.5rem;
}

.icon::after,
.icon::before {
  font-family: "Material Icons";
  font-size: 24px;
  text-align: center;
  color: #fcfcfc;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 2px;
  background: white;
  border-radius: 2px;
}

.icon::after {
  transform: translate(-50%, -50%);
}

.icon::before {
  transform: translate(-50%, -50%) rotate(90deg);
  transition: all 0.3s ease-in-out;
}

.question.active .icon::before {
  transform: translate(-50%, -50%) rotate(0);
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.content-text {
  font-size: 1.6rem;
  padding: 2rem;
  border-top: 1px #C4C7C5 solid;
  border-image: linear-gradient(to right, transparent, #C4C7C5, transparent) 0.5;
}

/*DESKTOP NARROW WINDOW*/
@media screen and (max-width: 1150px) {
  .container {
    width: 100%;
  }


  /*TABLETS*/
  @media screen and (max-width: 996px) {
    .body {
      width: 100%;
    }

    .container {
      grid-template-columns: 1fr;
      grid-template-rows: auto 80px 2426px 80px auto 80px 1992px 280px;
      grid-template-areas:
        "section-1"
        "section-2-header"
        "section-2"
        "section-3-header"
        "section-3"
        "section-4-header"
        "section-4"
        "footer";
      width: 100%;
      max-width: 100%;
      margin: 0;
    }

    .container-3 {
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 80px 820px 320px;
    }

    nav {
      z-index: 1;
      display: grid;
      grid-area: "navi";
      grid-template-columns: 1fr 0px 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "logo nav-list login login"
        "logo nav-list login login";
      gap: 0px 0px;
      grid-auto-flow: row;
      max-width: 100%;
    }

    .login {
      gap: 24px;
      padding-right: 64px;
    }

    .logo a img {
      margin-left: 0;
    }

    .login .btn button::before {
      content: "Crear horarios";
    }

    .login-responsive-2 {
      display: none;
    }

    .nav-list {
      visibility: hidden;
    }

    nav img {
      margin-left: 8px;
    }

    .fill {
      margin: 0px;
    }

    h1 {
      font-size: 42pt;
      font-weight: 500;
    }

    h2 {
      font-size: 32pt;
    }

    .section-1 {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
        "section-1-copy-1 section-1-copy-1 section-1-copy-1"
        "section-1-copy-1 section-1-copy-1 section-1-copy-1"
        "section-1-copy-1 section-1-copy-1 section-1-copy-1";
      grid-area: section-1;
      margin: 8px 8px 0px 8px;
      border: 1px #C4C7C5 solid;
    }

    .section-1-copy-1 {
      border-radius: 24px;
      padding: 56px;

    }

    .section-1-img-1 {
      border-radius: 0 0 24px 24px;
    }

    .btn button {
      width: 160px;
    }

    .login a {
      width: 160px;
    }

    .section-2 {
      grid-template-columns: 1fr;
      grid-template-rows: 600px 600px 600px 600px;
      gap: 8px;
      grid-template-areas:
        "section-2-perk-1"
        "section-2-perk-2"
        "section-2-perk-3"
        "section-2-perk-4";
      grid-area: section-2;
      border-radius: 24px;
      padding: 0px;
      height: 100%;
    }

    .section-2-perk-1 {
      height: 100%;
    }

    .section-2-perk-2 {
      height: 100%;
    }

    .section-2-perk-3 {
      height: 100%;
    }

    .section-2-perk-4 {
      height: 100%;
    }

    .imagen-thumbnail {
      height: 50%;
      object-fit: cover;
    }

    .section-2-spansitos {
      height: 50%;

    }

    .section-2-spansitos h5 {
      font-size: 28pt;
    }

    .section-2-spansitos h6 {
      font-size: 20pt;
    }

    .section-3-header h2 {
      margin: -24px;
    }

    .section-4 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 80px 564px 80px 564px 80px 564px;
      gap: 0px 8px;
      grid-auto-flow: row;
      grid-template-areas:
        "section-4-row-1"
        "section-4-content-1"
        "section-4-row-2"
        "section-4-content-2"
        "section-4-row-3"
        "section-4-content-3";
      grid-area: section-4;
      margin: 50px 8px 0px 8px;
      border-radius: 24px;
      padding: 0px 10% 0px 10%;
      text-align: center;
    }

    .section-4-row-1 {
      height: 80px;
    }

    .section-4-row-2 {
      height: 80px;
    }

    .section-4-row-3 {
      height: 80px;
    }

    .section-4-content-1,
    .section-4-content-2,
    .section-4-content-3 {
      height: 564px;
    }

    .section-3 {
      padding: 8px;
    }

    footer {
      padding: 24px;
    }

  }


  /* DISPOSITIVOS MÓVILES*/
  @media screen and (max-width: 503px) {
    .container {
      padding: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 0.45fr 80px auto 80px auto 80px 1992px 248px;
      grid-template-areas:
        "section-1"
        "section-2-header"
        "section-2"
        "section-3-header"
        "section-3"
        "section-4-header"
        "section-4"
        "footer";
    }

    .container-3 {
      .section-2-header {
        padding: 24px 0 0 8px;
      }
    }

    nav {
      display: grid;
      grid-template-columns: 1fr 0px 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "logo nav-list login login"
        "logo nav-list login login";
      gap: 0px 0px;
      grid-auto-flow: row;
    }

    .logo {
      padding-left: 24px;
    }

    .logo a img {
      margin-left: 0;
    }

    .nav-list {
      visibility: hidden;
    }

    nav img {
      margin-left: 8px;
    }

    .fill {
      margin: 0px;
    }

    h1 {
      font-size: 30pt;
      font-weight: 500;
    }

    h2 {
      font-size: 26pt;
    }

    .section-1 {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
        "section-1-copy-1 section-1-copy-1 section-1-copy-1"
        "section-1-copy-1 section-1-copy-1 section-1-copy-1"
        "section-1-copy-1 section-1-copy-1 section-1-copy-1";
      grid-area: section-1;
      margin: 8px 8px 0px 8px;
      border: 1px #C4C7C5 solid;
    }

    .section-1 h4 {
      font-size: 14pt;
    }

    .section-1-copy-1 {
      border-radius: 24px;
    }

    .btn button {
      width: 160px;
    }

    .login {
      padding-right: 36px;
    }

    .login .fill {
      visibility: hidden;
    }

    .login a {
      width: 160px;
      gap: 0px;
    }

    .login .btn button::before {
      content: "Iniciar sesión ";
    }

    .login-responsive-1 {
      display: none;
    }

    .login-responsive-2 {
      display: block;
    }

    .section-2 {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 0.5fr;
      gap: 8px;
      grid-template-areas:
        "section-2-perk-1"
        "section-2-perk-2"
        "section-2-perk-3"
        "section-2-perk-4";
      grid-area: section-2;
      border-radius: 24px;
      padding: 0px;
      height: 100%;
    }

    .section-2-perk-1 {
      height: 100%;
    }

    .section-2-perk-2 {
      height: 100%;
    }

    .section-2-perk-3 {
      height: 100%;
    }

    .section-2-perk-4 {
      height: 100%;
    }

    .imagen-thumbnail {
      height: 35%;
      margin-top: 0px;
      object-fit: cover;
    }

    .section-2-spansitos {
      margin-bottom: 0%;
      height: 65%;
      padding: 0px 24px 0 24px;
      top: 0;
    }

    .section-2-spansitos h5 {
      font-size: 20pt;
    }

    .section-2-spansitos h6 {
      font-size: 14.5pt;
    }

    .section-3-header h2 {
      margin: -24px;
    }

    .section-4 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 80px 564px 80px 564px 80px 564px;
      gap: 0px 8px;
      grid-auto-flow: row;
      grid-template-areas:
        "section-4-row-1"
        "section-4-content-1"
        "section-4-row-2"
        "section-4-content-2"
        "section-4-row-3"
        "section-4-content-3";
      grid-area: section-4;
      margin: 56px 8px 0px 8px;
      border-radius: 24px;
      padding: 0 0 0;
      text-align: center;
    }

    .section-4-row-1 {
      height: 80px;
    }

    .section-4-row-2 {
      height: 80px;
    }

    .section-4-row-3 {
      height: 80px;
    }

    .section-4-content-1 {
      height: 564px;
    }

    .section-4-content-2 {
      height: 564px;
    }

    .section-4-content-3 {
      height: 564px;
    }

    .section-1-copy-1 {
      padding: 24px;
    }

    .section-3 {
      padding: 8px 0 0;
    }

    footer {
      padding: 24px;
      height: 232px;
    }
  }

  /*ocultar botón mail*/
  @media screen and (max-width:440px) {
    .signup-box {
      display: none;
    }

    .ocultarmail {
      display: block;
      background-color: #2B4570;
      margin-bottom: 8px;
    }

    .ocultar2 {
      display: block;
    }
  }

  /*cambiar botón inicio sesión*/
  @media screen and (max-width:360px) {
    .login-responsive-2 {
      display: none;
    }

    .login .fill {
      visibility: visible;
    }
  }

  /*PANTALLAS GRANDES*/
  @media screen and (min-width: 1300px) {
    .container {
      width: 80%;
    }

    .container-3 {
      width: 80%;
    }
  }