// _footer.scss

footer {
    background-color: #2D93AD;
    color: #ffffff;
    padding: 50px 0;
    text-align: center;
  }
  
  footer h2 {
    margin-bottom: 20px;
  }
  
  footer h6 {
    font-size: 1em;
    margin-bottom: 10px;
  }
  
  footer a {
    color: #ffffff;
  }