// _footer.scss

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ".";
  grid-area: footer;
  background-color: $background-color_7;
  margin: 8px 8px 8px 8px;
  border-radius: 24px;
  padding: 56px;
  border: 1px #C4C7C5 solid;

  h2 {
    color: $color_5;
  }

  h6 {
    color: $color_5;
  }
}