// _header.scss

// Estilo general del encabezado
header {
  width: 100%;
  z-index: 1;
  position: sticky;
  top: 0 !important;
  transition: transform 0.4s;
}

header.hide {
  transform: translateY(-100%);
  transition: transform 1s;
}