// _main.scss

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .header {
    background-color: #2D93AD;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
  }
  
  .nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #2D93AD;
    color: #ffffff;
  }
  
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .nav li {
    float: left;
  }
  
  .nav a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav a:active {
    background-color: #4B5C6B;
  }
  
  .nav.scrolled {
    background-color: #ffffff;
    color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .nav-logo {
    max-width: 200px;
    height: auto;
  }
  
  .menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .menu-container {
    display: none;
    position: fixed;
    top: 60px;
    right: 0;
    background-color: #2D93AD;
  }
  
  .menu-container a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menu-container a:active {
    background-color: #4B5C6B;
  }
  
  .main-content {
    margin-top: 80px;
    padding: 20px;
  }
  
  .footer {
    background-color: #2D93AD;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
  }