// _nav.scss

// Estilo general de la navegación
nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "logo nav-list nav-list login login" "logo nav-list nav-list login login" "logo nav-list nav-list login login";
  grid-area: NavBar;
  align-items: center;
  text-align: right;
  z-index: 2;
  position: sticky !important;
  top: 0 !important;
  border-bottom: 2px solid #C4C7C5;
  width: 100%;
  height: 80px;
  background-color: $background-color_2;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.logo {
  grid-area: logo;
  display: flex;
  align-items: self-start;
  padding-left: 56px;

  img {
    width: auto;
    height: 36px;
    align-items: center;
    text-align: center;
    margin-left: 0;
  }
}

.login {
  grid-area: login;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
  padding-right: 54px;

  .btn {
    button {
      &::before {
        content: "Crear horarios ";
      }
    }
  }
}

.login-responsive-2 {
  display: none;
}

.nav-list {
  grid-area: nav-list;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 8px;
}

.nav-links {
  list-style: none;
  padding-inline-start: 0 !important;
  margin-bottom: 0 !important;

  li {
    margin-right: 24px;
    display: inline-block;

    &:hover {
      transform: scale(1.01);
    }
  }

  a {
    color: $color_8 !important;
    text-decoration: none;

    &:visited {
      color: $color_8 !important;
    }

    &:hover {
      color: $color_9 !important;
    }
  }
}