// _section.scss

.section-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "section-1-copy-1 section-1-copy-1 section-1-img-1" "section-1-copy-1 section-1-copy-1 section-1-img-1" "section-1-copy-1 section-1-copy-1 section-1-img-1";
  grid-area: section-1;
  border-radius: 24px;
  border-radius: 24px;
  margin: 8px 8px 0px 8px;
  border: 1px #C4C7C5 solid;
}

.section-1-img-1 {
  grid-area: section-1-img-1;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  pointer-events: none;

  img {
    grid-area: section-1-img-1;
    width: 100%;
  }
}

.ocultarmail {
  display: none;
}

.ocultar2 {
  display: none;
}

.section-1-copy-1 {
  grid-area: section-1-copy-1;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  padding: 56px;
  background-color: $background-color_3;
}

.section-2-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-area: section-2-header;
  margin: 8px 8px 0px 8px;
  border-radius: 24px;
  padding: 56px;
}

#Ventajas {
  scroll-margin-top: 40px;
}

.section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
  grid-template-areas: "section-2-perk-1 section-2-perk-2" "section-2-perk-3 section-2-perk-4";
  grid-area: section-2;
  margin: 50px 8px 0px 8px;
  border-radius: 24px;
  padding: 0px;
  height: 100%;
}

.section-2-perk-1 {
  width: 100%;
  height: 420px;
  background-color: $background-color_3;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  border: 1px #C4C7C5 solid;

  .imagen-thumbnail {
    pointer-events: none;
  }
}

.section-2-perk-2 {
  width: 100%;
  height: 420px;
  background-color: $background-color_3;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  border: 1px #C4C7C5 solid;

  .imagen-thumbnail {
    pointer-events: none;
  }
}

.section-2-perk-3 {
  width: 100%;
  height: 420px;
  background-color: $background-color_3;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  border: 1px #C4C7C5 solid;

  .imagen-thumbnail {
    pointer-events: none;
  }
}

.section-2-perk-4 {
  width: 100%;
  height: 420px;
  background-color: $background-color_3;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  border: 1px #C4C7C5 solid;

  .imagen-thumbnail {
    object-position: bottom;
    pointer-events: none;
  }
}

.imagen-thumbnail {
  width: 100%;
  height: 45%;
  border-radius: inherit;
  object-fit: cover;
}

.section-2-spansitos {
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 8px;
  padding: 24px;
}

#FAQ {
  scroll-margin-top: 40px;
}

.section-3-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-area: section-3-header;
  margin: 60px 8px 0px 8px;
  border-radius: 24px;
  padding: 56px;
}

.section-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ".";
  grid-area: section-3;
  margin: 104px 8px 0px 8px;
  border-radius: 24px;
}

.faq-list {
  text-decoration: none;

  ul {
    li {
      margin: 80px;
    }
  }
}

#Planes {
  scroll-margin-top: 40px;
}

.section-testimonios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-area: section-testimonios;
  margin: 8px 8px 0px 8px;
  border-radius: 24px;
  padding: 56px;
}

.section-4-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-area: section-4-header;
  margin: 8px 8px 0px 8px;
  border-radius: 24px;
  padding: 56px;
}

.section-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 564px;
  gap: 0px 8px;
  grid-auto-flow: row;
  grid-template-areas: "section-4-row-1 section-4-row-2 section-4-row-3" "section-4-content-1 section-4-content-2 section-4-content-3";
  grid-area: section-4;
  margin: 52px 8px 0px 8px;
  border-radius: 24px;
  padding: 0 56px;
  text-align: center;

  ul {
    padding: 0 24px 0 24px;
    margin-block-end: 0;
  }

  img {
    margin-bottom: 0px;
  }

  h4 {
    display: flexbox;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 0 24px 0 24px;
  }

  h5 {
    margin: 0;
  }

  h6 {
    text-align: left;
  }

  button {
    width: 240px;
    height: 50px;
    background-color: $background-color_7;
    border-radius: 32px;
    font-size: 18px;
  }
}

.icon-check {
  font-size: 20px;
  content: 'asd fyfyt';
  color: $color_4;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1;
  background-color: $background-color_4;
  text-align: center;

  span {
    display: flex;
  }
}

.icon-section-4 {
  width: 124px;
  margin-top: 8px;
  pointer-events: none;
}

.section-4-row-1 {
  grid-area: section-4-row-1;
  border-radius: 24px 24px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color_5;
  border: 1px #C4C7C5 solid;

  h5 {
    color: $color_5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.section-4-row-2 {
  grid-area: section-4-row-2;
  border-radius: 24px 24px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color_4;
  border: 1px #C4C7C5 solid;

  h5 {
    color: $color_5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.section-4-row-3 {
  grid-area: section-4-row-3;
  border-radius: 24px 24px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color_6;
  border: 1px #C4C7C5 solid;

  h5 {
    color: $color_5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.section-4-content-1 {
  grid-area: section-4-content-1;
  border-radius: 0 0 24px 24px;
  background-color: $background-color_3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px #C4C7C5 solid;
  padding: 56px 0 56px 0;

  button {
    background-color: $background-color_5;
  }
}

.section-4-content-2 {
  grid-area: section-4-content-2;
  border-radius: 0 0 24px 24px;
  background-color: $background-color_3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px #C4C7C5 solid;
  padding: 56px 0 56px 0;

  button {
    background-color: $background-color_4;
  }
}

.section-4-content-3 {
  grid-area: section-4-content-3;
  border-radius: 0 0 24px 24px;
  background-color: $background-color_3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px #C4C7C5 solid;
  padding: 56px 0 56px 0;

  button {
    background-color: $background-color_6;
  }
}