/*VARIABLES: guardar valores para reutilizar*/
$color-primary: #2D93AD;
$color-secondary: #4B5C6B;
$color-background: #E2DADB;
$color-accent: #58C2B9;
$color-border: #C4C7C5;
$color-text: #303941;
$color-button: #2B4570;